USE [master]
GO
/****** Object:  Database [DB_InventoryManagementDemo]    Script Date: 11-01-2024 18:32:48 ******/
CREATE DATABASE [DB_InventoryManagementDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_InventoryManagementDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_InventoryManagementDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_InventoryManagementDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_InventoryManagementDemo_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_InventoryManagementDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_InventoryManagementDemo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities_List]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities_List](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[StateID] [int] NOT NULL,
	[InsertedOn] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Org_Id] [int] NULL,
	[Unit_Type_Id] [int] NULL,
	[Category_Id] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Buying_Price] [int] NULL,
	[Selling_Price] [int] NULL,
	[Stock_Alert] [int] NULL,
	[Opening_Stock] [int] NULL,
	[Vendor_Id] [int] NULL,
	[Barcode] [nvarchar](max) NULL,
	[Updated_By] [int] NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation_Info]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation_Info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[CityID] [int] NULL,
	[StateID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](12) NULL,
	[Address] [nvarchar](256) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
 CONSTRAINT [PK_OrganisationInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_List]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_List](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[InsertedOn] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit_Type]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Unit_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Info]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Info](
	[Id] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[InsertedOn] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User_Info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Login]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
	[Inserted_On] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Login_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](256) NULL,
	[Phone] [nvarchar](12) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy]) VALUES (1, N'Clothess', 1, CAST(N'2024-01-09' AS Date), 0)
INSERT [dbo].[Category] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy]) VALUES (2, N'Clothes', 0, CAST(N'2024-01-09' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (10, N'Faridabad', 13, CAST(N'2023-12-22' AS Date))
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (11, N'Palwal', 13, CAST(N'2023-12-22' AS Date))
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (12, N'Hathin', 13, CAST(N'2023-12-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (1, 0, 0, 0, NULL, 0, 0, 0, 0, 0, NULL, 0, 1, CAST(N'2024-01-08' AS Date))
INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (2, 0, 0, 0, NULL, 0, 0, 0, 0, 0, NULL, 0, 1, CAST(N'2024-01-08' AS Date))
INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (3, 0, 0, 0, NULL, 0, 0, 0, 0, 0, NULL, 0, 1, CAST(N'2024-01-08' AS Date))
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation_Info] ON 

INSERT [dbo].[Organisation_Info] ([Id], [Name], [Email], [CityID], [StateID], [Type], [PhoneNo], [Address], [IsActive], [InsertedOn]) VALUES (1, N'gsb', N'gsb@gmail.com', 952, 12, N'Manufacturing', N'8979878', N'add 111008', 1, CAST(N'2024-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[Organisation_Info] OFF
GO
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (1, N'Andaman and Nicobar Islands', CAST(N'2023-12-22' AS Date))
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (2, N'Andhra Pradesh', CAST(N'2023-12-22' AS Date))
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (3, N'Arunachal Pradesh', CAST(N'2023-12-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Unit_Type] ON 

INSERT [dbo].[Unit_Type] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy]) VALUES (1, N'box', 1, CAST(N'2024-01-09' AS Date), 1)
INSERT [dbo].[Unit_Type] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy]) VALUES (2, N'Cardboard', 0, CAST(N'2024-01-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Unit_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Phone], [IsActive], [InsertedOn], [UpdatedBy]) VALUES (1, N'Aakash Sharma', N'string', N'string', 0, CAST(N'2024-01-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
/****** Object:  StoredProcedure [dbo].[getdata]    Script Date: 11-01-2024 18:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getdata]

as begin
select * from testtable;
end
GO
USE [master]
GO
