USE [master]
GO
/****** Object:  Database [DB_InventoryManagement]    Script Date: 2/8/2024 11:12:10 PM ******/
CREATE DATABASE [DB_InventoryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_InventoryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DB_InventoryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_InventoryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DB_InventoryManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_InventoryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_InventoryManagement]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities_List]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities_List](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[StateID] [int] NOT NULL,
	[InsertedOn] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](12) NULL,
	[IsActive] [bit] NULL,
	[Updated_By] [int] NULL,
	[Inserted_On] [date] NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inc_Order]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inc_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor_Id] [int] NULL,
	[Item_Id] [int] NULL,
	[Quantity] [int] NULL,
	[Expected_Date] [date] NULL,
	[Actual_Date] [date] NULL,
	[Updated_By] [int] NULL,
	[Inserted_On] [date] NULL,
	[OrgId] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Inc_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Org_Id] [int] NULL,
	[Unit_Type_Id] [int] NULL,
	[Category_Id] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Buying_Price] [int] NULL,
	[Selling_Price] [int] NULL,
	[Stock_Alert] [int] NULL,
	[Opening_Stock] [int] NULL,
	[Vendor_Id] [int] NULL,
	[Barcode] [nvarchar](max) NULL,
	[Updated_By] [int] NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organisation_Info]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation_Info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[CityID] [int] NULL,
	[StateID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[PhoneNo] [nvarchar](12) NULL,
	[Address] [nvarchar](256) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[PinCode] [int] NULL,
 CONSTRAINT [PK_OrganisationInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Out_Order]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Out_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Id] [int] NULL,
	[Item_Id] [int] NULL,
	[OrgId] [int] NULL,
	[Expected_Date] [date] NULL,
	[Actual_Date] [date] NULL,
	[Quantity] [int] NULL,
	[Updated_By] [int] NULL,
	[Inserted_On] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Out_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Staff_Name] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](256) NULL,
	[RoleType] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[Updated_By] [int] NULL,
	[InsertedOn] [date] NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAccess]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SideBarName] [nvarchar](50) NULL,
	[IsCreate] [bit] NULL,
	[IsShow] [bit] NULL,
	[IsModify] [bit] NULL,
	[Import] [bit] NULL,
	[Export] [bit] NULL,
	[Updated_By] [int] NULL,
	[StaffId] [int] NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
 CONSTRAINT [PK_StaffAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[State_List]    Script Date: 2/8/2024 11:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_List](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[InsertedOn] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit_Type]    Script Date: 2/8/2024 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_Unit_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Info]    Script Date: 2/8/2024 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Info](
	[Id] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[InsertedOn] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_User_Info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Login]    Script Date: 2/8/2024 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Login](
	[Id] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](256) NULL,
	[OrgId] [int] NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
 CONSTRAINT [PK_User_Login] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 2/8/2024 11:12:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](256) NULL,
	[Phone] [nvarchar](12) NULL,
	[IsActive] [bit] NULL,
	[InsertedOn] [date] NULL,
	[UpdatedBy] [int] NULL,
	[OrgId] [int] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (1, N'Clothess', 1, CAST(N'2024-01-09' AS Date), 0, 1)
INSERT [dbo].[Category] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (2, N'Clothes', 0, CAST(N'2024-01-09' AS Date), 0, 1)
INSERT [dbo].[Category] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (3, N'Rubber', 1, CAST(N'2024-01-15' AS Date), 1, 6)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (10, N'Faridabad', 13, CAST(N'2023-12-22' AS Date))
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (11, N'Palwal', 13, CAST(N'2023-12-22' AS Date))
INSERT [dbo].[Cities_List] ([Id], [Name], [StateID], [InsertedOn]) VALUES (12, N'Hathin', 13, CAST(N'2023-12-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Inc_Order] ON 

INSERT [dbo].[Inc_Order] ([Id], [Vendor_Id], [Item_Id], [Quantity], [Expected_Date], [Actual_Date], [Updated_By], [Inserted_On], [OrgId], [IsActive]) VALUES (1, 1, 1, 10, CAST(N'2024-02-08' AS Date), CAST(N'2024-02-08' AS Date), 5, CAST(N'2024-02-08' AS Date), 9, 1)
SET IDENTITY_INSERT [dbo].[Inc_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (1, 1, 1, 1, N'Shirt', 121, 1234, 12345, 1234, 1, N'Aakash', 1, 1, CAST(N'2024-01-08' AS Date))
INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (2, 2, 0, 0, NULL, 0, 0, 0, 0, 0, NULL, 0, 1, CAST(N'2024-01-08' AS Date))
INSERT [dbo].[Items] ([ID], [Org_Id], [Unit_Type_Id], [Category_Id], [Name], [Buying_Price], [Selling_Price], [Stock_Alert], [Opening_Stock], [Vendor_Id], [Barcode], [Updated_By], [IsActive], [InsertedOn]) VALUES (3, 0, 0, 0, NULL, 0, 0, 0, 0, 0, NULL, 0, 1, CAST(N'2024-01-08' AS Date))
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Organisation_Info] ON 

INSERT [dbo].[Organisation_Info] ([Id], [Name], [Email], [CityID], [StateID], [Type], [PhoneNo], [Address], [IsActive], [InsertedOn], [PinCode]) VALUES (1, N'gsb', N'gsb@gmail.com', 952, 12, N'Manufacturing', N'8979878', N'add 111008', 1, CAST(N'2024-01-11' AS Date), 110085)
INSERT [dbo].[Organisation_Info] ([Id], [Name], [Email], [CityID], [StateID], [Type], [PhoneNo], [Address], [IsActive], [InsertedOn], [PinCode]) VALUES (2, N'Prateek', N'Prateek123@gmail.com', 1, 1, N'string', N'8800361183', N'Rohini', 1, CAST(N'2024-01-15' AS Date), 110085)
INSERT [dbo].[Organisation_Info] ([Id], [Name], [Email], [CityID], [StateID], [Type], [PhoneNo], [Address], [IsActive], [InsertedOn], [PinCode]) VALUES (3, N'Divyajeet', N'Divya123', 1, 1, N'string', N'string', N'Shadara', 1, CAST(N'2024-01-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Organisation_Info] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Staff_Name], [Email], [Password], [RoleType], [IsActive], [Updated_By], [InsertedOn], [OrgId]) VALUES (1, N'John Doe', N'john.doe@example.com', N'25rVpIIVJbB+jgxzrbE+JB3v1iEF5Y0fES3LcLnUvHw=', N'Admin', 1, 0, CAST(N'2024-01-15' AS Date), 1)
INSERT [dbo].[Staff] ([Id], [Staff_Name], [Email], [Password], [RoleType], [IsActive], [Updated_By], [InsertedOn], [OrgId]) VALUES (2, N'Aakash', N'radheykrishna111111@gmail.com', N'thpLAfgnVOhdkYvMbz+JJA==', N'User', 1, 1, CAST(N'2024-01-15' AS Date), 6)
INSERT [dbo].[Staff] ([Id], [Staff_Name], [Email], [Password], [RoleType], [IsActive], [Updated_By], [InsertedOn], [OrgId]) VALUES (3, N'Prateek', N'Prateek_Peeragarhi', N'Pqp9kciIdBUs4TvGeJT+tA==', N'Admin', 1, 0, CAST(N'2024-01-26' AS Date), 8)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffAccess] ON 

INSERT [dbo].[StaffAccess] ([Id], [SideBarName], [IsCreate], [IsShow], [IsModify], [Import], [Export], [Updated_By], [StaffId], [IsActive], [InsertedOn]) VALUES (1, N'Category', 1, 1, 0, 1, 1, 1, 2, 1, CAST(N'2024-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[StaffAccess] OFF
GO
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (1, N'Andaman and Nicobar Islands', CAST(N'2023-12-22' AS Date))
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (2, N'Andhra Pradesh', CAST(N'2023-12-22' AS Date))
INSERT [dbo].[State_List] ([Id], [Name], [InsertedOn]) VALUES (3, N'Arunachal Pradesh', CAST(N'2023-12-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Unit_Type] ON 

INSERT [dbo].[Unit_Type] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (1, N'box', 1, CAST(N'2024-01-09' AS Date), 1, 1)
INSERT [dbo].[Unit_Type] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (2, N'Cardboard', 0, CAST(N'2024-01-09' AS Date), 1, 1)
INSERT [dbo].[Unit_Type] ([Id], [Name], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (4, N'Darling', 1, CAST(N'2024-01-28' AS Date), 5, 9)
SET IDENTITY_INSERT [dbo].[Unit_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Phone], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (1, N'Aakash Sharma', N'string', N'string', 1, CAST(N'2024-01-09' AS Date), 1, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Phone], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (3, N'Prateek', N'string', N'String', 1, CAST(N'2024-01-28' AS Date), 5, 9)
INSERT [dbo].[Vendor] ([Id], [Name], [Email], [Phone], [IsActive], [InsertedOn], [UpdatedBy], [OrgId]) VALUES (4, N'Aakash', N'string', N'string', 1, CAST(N'2024-01-28' AS Date), 5, 9)
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
USE [master]
GO
