@{
    ViewData["Title"] = "Dashboard";
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Low Quantity
                    </div>
                    <div class="card-body">                     
                        <div>
                            <p>Pheniox Arizona</p>
                            <a href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        Ted James
                    </div>
                    <div class="card-body">
                        <div class="float-left">
                            <img src="" />
                        </div>
                        <div class="float-right">
                            <p>Pheniox Arizona</p>
                            <a href="#">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
        <br>
        </div>
        </div>

