@{
    ViewData["Title"] = "Dashboard";
}

<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: none;
    }
</style>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="row">

            <div class="col-xl-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">                           
                        LOW QTY ITEMS
                        </h3>

                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            Item
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var vendor in ViewBag.VendorListData)
                                    {
                                        <tr class="table-danger">
                                            <td>@vendor.name</td>
                                            <td>@vendor.stock</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
        <br>
        </div>
        </div>

