@model BackendAPI.Models.AddAllInfo

@{
    ViewData["Title"] = "Signup";
}

<link href="~/boostrap_old/bootstrap.min.css" rel="stylesheet" />

<style>

    [class^="col-md-"], [class*=" col-md-"] {
        margin-bottom: 10px;
    }


</style>
<div class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="font-weight:bold">SIGNUP</div>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label for="inputname" class="form-label">Organisation Name</label>
                                <input type="text" class="form-control" id="inputname">
                            </div>


                            <div class="col-md-4">
                                <label for="inputtype" class="form-label">Organisation Type</label>
                                <select id="inputtype" class="form-control">
                                    <option selected>Select</option>
                                    <option>Manufacturing</option>
                                    <option>Warehouse </option>
                                </select>
                            </div>

                            <div class="col-4">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>


                            <div class="col-md-3">
                                <label for="inputState" class="form-label">State</label>
                                @Html.DropDownList("SelectedState",
                                new SelectList(ViewBag.StateListData, "id", "name"),
                                "Select State",
                                new { @class = "form-control", @id = "inputState",@onchange = "cityFetch(this.value)" })
                            </div>

                            <div class="col-md-3">
                                <label for="inputCity" class="form-label">City</label>
                                <select class="form-control" id="inputCity"></select>
                            </div>

                            <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>


                            <div class="col-md-4">
                                <label for="inputphone" class="form-label">Phone</label>
                                <input type="number" class="form-control" id="inputphone">
                            </div>

                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail4">
                            </div>

                            <div class="col-md-4">
                                <label for="inputPassword4" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>

                            <div class="col-12" style="padding:15px">
                                <button type="submit" onclick="onSubmit()" class="btn btn-primary">Sign Up</button>
                                <a href="@Url.Action("Index", "Account")">Already have an account? Sign in</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    function cityFetch(selValue) {
        debugger;
        $.ajax({
            url: '@Url.Action("GetCities", "Setting")',
            type: 'GET',
            data: { Id: selValue },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                var cityDropdown = $("#inputCity");
                cityDropdown.empty();
                $.each(data, function (i, city) {
                    cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("AJAX error: " + textStatus + ", " + errorThrown);
                console.log(jqXHR.responseText);
            }
        });
    }

    function onSubmit() {

        var name = $("#inputname").val();
        var email = $("#inputEmail4").val();
        var type = $("#inputtype").val();
        var password = $("#inputPassword4").val();
        var address = $("#inputAddress").val() 
        var pincode = $("#inputZip").val();      
        var city = $("#inputCity").val();
        var state = $("#inputState").val();
        var phone = $("#inputphone").val();

        // Send data to the server using AJAX
        $.ajax({
            url: '@Url.Action("Signup", "Account")',  // Replace with your controller and action
            type: 'POST',
            data: JSON.stringify({
                Name: name,
                Org_Email: email,
                Type: type,
                Password: password,
                Address: address,
                CityID: city,
                StateID: state,
                PhoneNo: phone,
                PinCode:pincode,
            }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Account Created",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    setTimeout(() => {
                        window.location.href = "http://localhost:5252/account/Login";
                    }, 1300);

                } else {
                    alert("Failed to create Account. Please try again.");
                }
            },
            error: function () {
                alert("Failed to create Account. Please try again.");
            }
        });
    }

</script>