<style>

</style>
<h2>Add Items</h2>
<div class="container">
    <form class="row g-3">

        <div class="col-md-3">
            <label for="inputname" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="inputname">
        </div>

        <div class="col-md-3">
            <label for="inputtype" class="form-label">Unit Type</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Pcs</option>
                <option>Box </option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Min Stock Level</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>

        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Opening Stock </label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>


        <div class="col-md-4">
            <label for="inputtype" class="form-label">Category</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Shirts</option>
                <option>Color</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputEmail4" class="form-label">Barcode</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
            <label for="inputtype" class="form-label">Supplier</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Akash</option>
                <option>Divyajeet</option>
            </select>
        </div>


        <hr style="margin-top:30px;margin-bottom:20px" />

        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbIsPurchase">
                <label class="form-check-label">
                    Purchase Information
                </label>
            </div>
            <label for="inputEmail4" class="form-label">Cost Price</label>
            <input type="number" class="form-control" id="ipcostprice">
        </div>


        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbIsSell">
                <label class="form-check-label">
                    Sell Info Information
                </label>
            </div>
            <label for="inputEmail4" class="form-label">Selling Price</label>
            <input type="number" class="form-control" id="ipsellprice">
        </div>


    </form>
    <div style="margin-top:20px">
        <button type="button" class="btn btn-primary">ADD ITEM</button>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $("#ipsellprice").prop("disabled", true);
        $("#ipcostprice").prop("disabled", true);

        $("#cbIsPurchase").change(function () {
            // Update the status of the input field when the checkbox changes
            updateInputPurchaseStatus();
        });
        $("#cbIsSell").change(function () {
            updateInputSellStatus();

        });
    });

    function updateInputPurchaseStatus() {
        // Enable or disable the input field based on the checkbox status
        if ($("#cbIsPurchase").prop("checked")) {
            $("#ipcostprice").prop("disabled", false);
        } else {
            $("#ipcostprice").val("");
            $("#ipcostprice").prop("disabled", true);
        }
    }

    function updateInputSellStatus() {
        // Enable or disable the input field based on the checkbox status
        if ($("#cbIsSell").prop("checked")) {
            $("#ipsellprice").prop("disabled", false);
        } else {
            $("#ipsellprice").val("");
            $("#ipsellprice").prop("disabled", true);
        }
    }


</script>

