<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Add Items</h2>
    <div class="container">
    <form class="row g-3">

        <div class="col-md-6">
            <label for="inputname" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="inputname">
        </div>
        <div class="col-md-6">
            <label for="inputtype" class="form-label">Unit Type</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Pcs</option>
                <option>Box </option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Buy Price</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Sell Price</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3">
            <label for="inputEmail4" class="form-label">Min Stock Level</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>

        <div class="col-md-4">
            <label for="inputtype" class="form-label">Category</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Shirts</option>
                <option>Color</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Barcode</label>
            <input type="number" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
            <label for="inputtype" class="form-label">Supplier</label>
            <select id="inputtype" class="form-select">
                <option selected>Select</option>
                <option>Akash</option>
                <option>Divyajeet</option>
            </select>
        </div>

    </form>
    <div style="margin-top:20px">
    <button type="button" class="btn btn-primary">ADD ITEM</button>
    </div>

    </div>
</body>
</html>

