<div class="wrapper">

    <div class="m-error m-error-404">
        <div class="m-error--content">
            <div class="m-error--title">
                <h1 class="h1">404</h1>
            </div>

            <div class="m-error--desc">
                <h2 class="h2">Oops! You're Lost.</h2>
                <p>Sorry, we couldn't find the page you are looking for...</p>                
            </div>
        </div>
    </div>

</div>